<% provide(:title, 'Basket') %>

<div>

  <div class=cards>
    <% @basket.basketItems.each do |basketItem| %>
      <div class="card">
        <div>
          <%= cl_image_tag basketItem.artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
        </div>
        <div class="product-info">
          <h2> <%= basketItem.artwork.name %> </h2>
          <p class="price"> <%= humanized_money_with_symbol(basketItem.artwork.price) %></p>
        </div>
        <div class="item-delete">
          <%= link_to "X", basket_item_path(basketItem), method: "delete"%>
        </div>
      </div>
    <% end %>
  </div>



</div>
