.about-image {
  width: 90%;
  padding-bottom: 2rem;
}

.legal_links {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-between;

  a {
    white-space: nowrap;
    margin: 0.5rem auto;
  }
}

.legal {

  h3 {
    margin-top: 8px;
  }

  p {
    margin: 0;
  }
}

@media (min-width: 768px) and (orientation: landscape) {
  .about-image {
    width: 45%;
  }

  .legal_links {
    flex-direction: row;

    a {
      width: 140px;
    }
  }
}

.artist-setter {
  display: flex;
  height: 100%;
  align-items: center;
}

.artist-description {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 2.4rem;
}
