.item-delete {
  font-size: 2rem;
  position: absolute;
  top: 0px;
  right: 10px;
  color: white;
}

.my-title {
  text-decoration: double underline;
  margin-bottom: 2rem;
  font-style: italic;
  text-align: center;
}

.product-info {
  margin: 1rem 5px;
}

.badge-custom {
  text-transform: uppercase;
  background-color: rgba(20, 20, 20, 0.9);
  color: white;
}
