<% provide(:title, 'Artworks') %>

<% if @artworks.count > 1 %>
  <div class="cards cards-double">
<% else %>
  <div class="cards cards-single">
<% end %>
  <% @artworks.each do |artwork|%>
    <%# if artwork.sold == false %>
      <div class="card">
        <%= link_to artwork_path(artwork) do %>
          <div>
            <%= cl_image_tag artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
          </div>
        <% end %>
      </div>
    <%# else %>
    <%# end %>
  <% end %>
</div>
