<% provide(:title, 'Order') %>

<div class="text-center">

  <% if @order.state == "paid" %>

    <h1>Order <small><span class="badge badge-custom"><%= @order.state %></span></small></h1>
    <h3><strong>TOTAL</strong> <%= humanized_money_with_symbol @order.amount %></li></h3>

    <% if @basket.basketItems.count == 1 %>
      <div class="cards cards-single">
    <% else %>
      <div class="cards cards-double">
    <% end %>
        <% @basket.basketItems.each do |item| %>
          <div class="card">
            <div>
              <%= cl_image_tag item.artwork.photos.first.key, height: 250, width: 250, crop: :fill %>
            </div>
            <div class="product-info">
              <h2> <%= item.artwork.name %> </h2>
            </div>
          </div>
        <% end %>
      </div>

    <h3 class="mb-3 mt-0">Your order receipt is in your inbox.</h3>

  <% else %>

    <h1>Your Order didn't pass.</h1>

    <p class="mt-4">Try to pay with another card or write to me directly if any further information is needed.</p>

  <% end %>



</div>
