<% provide(:title, 'About') %>

<div>
  <div class="row text-center">
    <div class="col-sm-12">
      <%= image_tag("brandon_about.jpg", class:"about-image", alt: "Brandon Coetzee") %>
    </div>
      <!-- <i class="far fa-window-minimize" style="width: 50%"></i> -->
    <div class="col-sm-12">
      <div class="description-setter">
        <p class="artist-description">
          An artist from Durban, South Africa, applying his trade in Paris, France.
          I work mostly with clay and do the polishing and varnishing. More text maybe
          on what your process is and how long each art piece takes for you and where
          you draw your inspiration from
        </p>
      </div>
    </div>
  </div>
<!--   <div>
    <%#= render "layouts/mailchimp" %>
  </div> -->
</div>
