<% provide(:title, 'About') %>

<div>
  <div class="row text-center">
    <div class="col-sm-12">
      <%= image_tag("brandon_about.jpg", class:"about-image", alt: "Brandon Coetzee") %>
    </div>
      <!-- <i class="far fa-window-minimize" style="width: 50%"></i> -->
    <div class="col-sm-12">
      <div class="description-setter">
        <p class="artist-description">
          DOPE . ASS . CERAMICS
        </p>
      </div>
    </div>
  </div>
</div>
