<div class="text-center legal">
  <h1>Mentions légales</h1>

  <p>
    En vertu de l'article 6 de la loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique, il est précisé aux utilisateurs du site internet http://www.bnice.studio l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi:
  </p>

  <h3>
    Propriétaire et responsable éditorial
  </h3>

  <p>
    B-NI$E
  </p>
  <p>
    SIRET : 880661665 00013
  </p>
  <p>
    36, rue Doudeauville, 75018 Paris
  </p>
  <p>
    bnicevlways@gmail.com
  </p>

  <h3>
    Développement
  </h3>

  <p>
    Jonathan Santurbano
  </p>
  <p>
    jonathan.santurbano@gmail.com
  </p>
  <p>
    www.jonathan-santurbano.com
  </p>

  <h3>
    Hébergeur
  </h3>
  <p>
  Namecheap
  </p>

  <h3>
  Crédits
  </h3>
  <p>
  Photos : Arthur Crestani
  </p>

</div>
