<div class="miscellaneous">
  <h1>Politique de Confidentialité</h1>

  <p>
    Conformément à la loi n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés et à la loi n° 2018-493 du 20 juin 2018 relative à la protection des données, B-NI$E s’engage à respecter la confidentialité des renseignements personnels collectés. La présente Politique de Confidentialité s’applique au site Internet www.bnice.studio. Elle décrit la façon dont nous collectons, utilisons, conservons et protégeons les données à caractère personnel de nos prospects et clients.
  </p>

  <h3>Collecte des données personnelles</h3>

  <p>
    Le Client est informé des réglementations concernant la communication marketing, la loi du 21 Juin 2014 pour la confiance dans l’Economie Numérique, la Loi Informatique et Liberté du 06 Août 2004 ainsi que du Règlement Général sur la Protection des Données (RGPD : n° 2016-679).
    En tant que responsable du traitement des données qu’il collecte, B-NI$E s’engage à respecter le cadre des dispositions légales en vigueur.
  </p>

  <h3>Finalité des données collectées</h3>

  <p style="margin-bottom: 0">
    B-NI$E est susceptible de traiter tout ou partie des données :
    <li>
      pour permettre la navigation sur le site et la gestion et la traçabilité des prestations et services commandés par l’utilisateur : données de connexion et d’utilisation du Site, facturation, historique des commandes, etc.
    </li>
    <li>
      pour prévenir et lutter contre la fraude informatique (spamming, hacking…) : matériel informatique utilisé pour la navigation, l’adresse IP, le mot de passe (hashé)
    </li>
    <li>
      pour améliorer la navigation sur le site : données de connexion et d’utilisation
    </li>
    <li>
      pour mener des campagnes de communication (newsletter) à travers Mailchimp : adresse email
    </li>
    B-NI$E ne commercialise pas vos données personnelles qui sont donc uniquement utilisées par nécessité ou à des fins statistiques et d’analyses. Enfin, vos informations bancaires ne sont jamais en notre possession. Les transactions sont entièrement traitées par le module de paiement sécurisé de notre partenaire STRIPE.
  </p>

  <h3>Droit d’accès, de rectification et d’opposition</h3>

  <p style="margin-bottom: 0">
    Conformément à la réglementation européenne en vigueur, les utilisateurs de https://www.bnice.studio disposent des droits suivants :

    <li>
    droit d'accès (article 15 RGPD) et de rectification (article 16 RGPD), de mise à jour, de complétude des données des Utilisateurs, droit de verrouillage ou d’effacement des données des Utilisateurs à caractère personnel (article 17 du RGPD), lorsqu’elles sont inexactes, incomplètes, équivoques, périmées, ou dont la collecte, l'utilisation, la communication ou la conservation est interdite
    </li>

    <li>
      droit de retirer à tout moment un consentement (article 13-2c RGPD)
    </li>

    <li>
      droit à la limitation du traitement des données des Utilisateurs (article 18 RGPD)
    </li>

    <li>
      droit d’opposition au traitement des données des Utilisateurs (article 21 RGPD)
    </li>

    <li>
      droit à la portabilité des données que les Utilisateurs auront fournies, lorsque ces données font l’objet de traitements automatisés fondés sur leur consentement ou sur un contrat (article 20 RGPD)
    </li>

    <li>
      droit de définir le sort des données des Utilisateurs après leur mort et de choisir à qui B-NI$E devra communiquer (ou non) ses données à un tiers qu’ils aura préalablement désigné
    </li>

    Si l’Utilisateur souhaite savoir comment B-NI$E utilise ses Données Personnelles, demander à les rectifier ou s’oppose à leur traitement, l’utilisateur peut contacter B-NI$E par écrit à l’adresse suivante :
    B-NI$E
    36 rue Doudeauville
    75018 Paris

    Dans ce cas, l’Utilisateur doit indiquer les Données Personnelles qu’il souhaiterait que B-NI$E corrige, mette à jour ou supprime, en s’identifiant précisément avec une copie d’une pièce d’identité (carte d’identité ou passeport).
  </p>

  <h3>“Cookies”</h3>

  <p>
    Le Site utilise des cookies (témoins de connexion), ce dont l’utilisateur est informé en arrivant sur le site Internet, qui permettent d’enregistrer des informations relatives à la navigation de l’ordinateur sur le site Internet. Ces cookies ne sont installés qu’après acceptation par l’utilisateur, la poursuite de la navigation sur le site Internet valant acceptation. L’utilisateur peut s’opposer à l’utilisation de ces cookies en paramétrant son navigateur, sachant que l’accès à certains services peut nécessiter l’acceptation préalable par l’utilisateur des cookies.
  </p>

  <h3>Propriété intellectuelle et contrefaçons</h3>

  <p>
    B-NI$E est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site internet, notamment les textes, images, graphismes, logos, vidéos, icônes et sons. Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable. Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
  </p>
</div>
