<div class="text-justify miscellaneous">
  <h1 class="text-center">Conditions Générales de Vente</h1>

  <h3 class>1. Objet et acceptation des conditions de vente</h3>

  <p>
    Les présentes conditions générales de vente régissent les relations contractuelles entre le site de vente en ligne www.bnice.studio, et tout acheteur de ce site. Le vendeur et l’acheteur conviennent que les présentes conditions générales régissent exclusivement leur relation.  Toute commande passée sur le site vaut pour acceptation entière et totale des conditions générales de vente. Le vendeur se réserve le droit de modifier ponctuellement ses conditions générales. Elles seront applicables dès leur mise en ligne. Si une condition de vente venait à faire défaut, elle serait considérée être régie par les usages en vigueur dans le secteur de la vente à distance dont les sociétés ont siège en France.
  </p>

  <h3>2. Produits</h3>

  <p>
    Les produits régis par les présentes conditions générales sont ceux qui figurent à la vente sur le site internet www.bnice.studio dans la limite des stocks disponibles. Le vendeur communique à l’acheteur les caractéristiques essentielles du bien. Les produits sont décrits et présentés avec la plus grande exactitude possible, de même, les photographies des produits sont les plus fidèles possibles mais ne peuvent assurer une similitude parfaite avec le bien offert, notamment en ce qui concerne les couleurs.
  </p>

  <h3>3. Prix</h3>

  <p>
    Les prix sont indiqués en Euro (€). Ils tiennent compte d'éventuelles réductions. La TVA est non applicable (art. 293 B du CGI). B-NI$E se réserve le droit de modifier ses prix à tout moment, étant toutefois entendu que le seul prix applicable à l’acheteur sera celui figurant sur le site le jour de la commande. Les prix indiqués des articles ne comprennent pas les frais de livraison.  Les frais de livraison sont calculés après validation du panier et indication de l’adresse de livraison. Ils figurent sur le montant total de la commande.
  </p>

  <h3>4. Commande</h3>

  <p>
    L’acheteur a la possibilité de passer sa commande en ligne, à partir du catalogue en ligne dans la limite des stocks disponibles. En cas d'erreur sur la disponibilité d'un produit commandé, le vendeur en informe l'acheteur par email dans les meilleurs délais. L'acheteur aura la possibilité de se faire remplacer le produit par un autre d'une qualité et d'un prix équivalent, ou d'annuler la commande. Pour que la commande soit validée, l’acheteur devra renseigner son adresse de livraison puis valider son panier et le prix total (frais de livraison inclus) en cliquant sur “Checkout”. Il sera ensuite redirigé vers la plateforme de paiement sécurisé “Stripe”. La vente sera considérée comme définitive:
    - après l'envoi à l'acheteur de la confirmation de l'acceptation de la commande par le vendeur par courrier électronique ;
    - et après encaissement par le vendeur de l'intégralité du prix.
    Pour toute question relative au suivi d’une commande, l’acheteur peut nous contacter à cette adresse : bnicevalways@gmail.com.
  </p>

  <h3>5. Paiement</h3>

  <p>
    Il s’agit d’une commande avec obligation de paiement, ce qui signifie que la passation de la commande implique un règlement de l’acheteur. Pour régler sa commande, l’acheteur dispose, à son choix, de l’ensemble des modes de paiement mis à sa disposition par le plateforme de paiement sécurisé Stripe.  L’acheteur garantit au vendeur qu’il dispose des autorisations éventuellement nécessaires pour utiliser le mode de paiement choisi par lui, lors de la validation du bon de commande. Le vendeur se réserve le droit de suspendre toute gestion de commande et toute livraison en cas de refus d’autorisation de paiement par carte bancaire de la part des organismes officiellement accrédités ou en cas de non-paiement. Le vendeur se réserve notamment le droit de refuser d’effectuer une livraison ou d’honorer une commande émanant d’un acheteur qui n’aurait pas réglé totalement ou partiellement une commande précédente ou avec lequel un litige de paiement serait en cours d’administration.
  </p>

  <h3>6. Réserve de propriété</h3>

  <p>
    Les Produits commandés demeurent la propriété de B-Ni$E jusqu'au complet encaissement du prix par B-NI$E. Cependant, vous assumez les risques (notamment de perte, de vol ou de détérioration) concernant les Produits livrés à compter du moment où ils sont livrés à l’adresse indiquée lors de la commande.
  </p>

  <h3>7. Livraison</h3>

  <p>
    L’acheteur se doit de vérifier l’exactitude et la conformité des renseignements qu’il fournit, notamment les coordonnées de livraison. En effet, c’est à cette adresse que le colis sera expédié. Le vendeur ne saurait être tenu responsable d’éventuelles erreurs de saisie et des conséquences en termes de retard ou d’erreur de livraison. Dans ce contexte, tous les frais engagés pour la réexpédition éventuelle d'une commande seront à la charge de l’acheteur. L’envoi est assuré dans un délai de 2 semaines après réception de la commande.
    Toutes nos livraisons sont assurées par UPS et traitées en 2 à 6 jours ouvrés en France et dans les pays de l’Union Européenne. Les frais de livraison correspondent aux tarifs en vigueur du prestataire UPS.
    La livraison est réputée effectuée dès la remise des produits commandés par le vendeur à l’acheteur ou à un tiers désigné par ce dernier.
  </p>

  <h3>8. Droit de rétractation et remboursement</h3>

  <p>
    Conformément aux dispositions du code de la consommation, l’acheteur dispose de 7 jours à compter de la réception des articles pour demander l’échange ou le remboursement des articles sans motif avancé. Les articles doivent alors être renvoyés intacts, dans leurs emballages. Les frais de retour, en cas de rétractation, sont à la charge de l’acheteur. Tout retour devra être signalé au préalable par email à : bnicevlways@gmail.com. Le remboursement interviendra au plus tard dans un délai de 30 jours suivant la date à laquelle le droit de rétractation a été exercé.
  </p>

  <h3>9. Force majeure</h3>

  <p>
    Toutes circonstances indépendantes de la volonté des parties empêchant l’exécution dans des conditions normales de leurs obligations sont considérées comme des causes d’exonération des obligations des parties et entraînent leur suspension. Seront considérés comme cas de force majeure tous faits ou circonstances irrésistibles, extérieurs aux parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être empêchés par ces dernières, notamment grève totale ou partielle des services postaux et moyens de transport et/ou communications, incendie, inondations, défaillance ou panne de matériel. La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l’autre partie de leur survenance, ainsi que de leur disparition.
  </p>

  <h3>10. Informatique et liberté</h3>

  <p>
    Le renseignement des informations nominatives collectées dans le cadre de la vente à distance est obligatoire, ces informations étant nécessaires pour le traitement et la livraison des commandes ainsi que pour l’établissement des factures. Elles peuvent être communiquées aux partenaires du vendeur chargés de l'exécution, du traitement, de la gestion et du paiement des commandes. Le défaut de renseignement implique le rejet automatique de la commande. L’ensemble des informations relatives à la protection des données sont disponibles à la page “Politique de confidentialité” du site internet.
  </p>

  <h3>11. Propriété intellectuelle</h3>

  <p>
    Le contenu du site internet reste la propriété du vendeur, seul titulaire des droits de propriété intellectuelle sur ce contenu. Les acheteurs s’engagent à ne faire aucun usage de ce contenu ; toute reproduction totale ou partielle de ce contenu est strictement interdite et est susceptible de constituer un délit de contrefaçon.
  </p>

  <h3>12. Modification des conditions générales de vente</h3>

  <p>
    Le vendeur se réserve le droit de d’adapter et de modifier à tout moment les présentes conditions générales de vente sous réserve de faire apparaître ces modifications sur le site.
  </p>
</div>
