<div class="d-flex justify-content-center align-items-center">
  <%= link_to artworks_path do %>
    <%= image_tag("four_heads_logo.jpg", id:"welcome-logo", alt: "BNI$E heads logo") %>
  <% end %>
</div>
