<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 276px);">
  <%= link_to artworks_path, class: "welcome-setter" do %>
    <%= image_tag("four_heads_logo.jpg", id:"welcome-logo", alt: "BNI$E heads logo") %>
  <% end %>
</div>
