.alert {
  position: absolute;
  padding: 0.75rem 1.25rem;
  margin: 0;
  border: 1px solid transparent;
  border-radius: 2px;
  height: 72px;
  display: flex;
  align-items: center;
  top: 13px;
  max-width: 90vw;

  .close {
    transform: rotate(90deg);
    padding: 0;
  }
}
