.basket-setter {
  position: absolute;
  top: 125px;
  right: 4px;
  margin-top: -40px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.basket-link {
  padding-right: 1rem;
  /* background-color: rgba(210, 210, 210, 0.4); */
  width: fit-content;
  padding: 0.4rem;
  /* border: 1px black solid; */
  color: black;
  /* box-shadow: 1px 2px 1px grey; */
  border-radius: 7px;
}

@media (min-width: 767px) {
  .basket-setter {
    top: 70px;
    right: 13px;
  }
  .basket-link {
    margin-right: 1rem;
    font-size: 1.2rem;
  }
}
