#brand {
  color: black;
  letter-spacing: 6px;
  font-size: 3rem;
  margin: 0;
  font-family: 'Bungee Shade', cursive;
}

a{
  color: black;

  &:hover{
    text-decoration: none;
    color: black;
    font-weight: 500;
  }
}
