@import "navbar";
@import "footer";
@import "card";
@import "brand";
@import "welcome_logo";
@import "modal";
@import "form";
@import "mybutton";
@import "swiper";
@import "basket-link";
@import "my-links";
@import "alert";

.page-setter {
  min-height: calc(100vh - 276px);
  display: flex;
  justify-content: center;
  align-items: center;
}
