.my-links {
  display: flex;
  justify-content: space-evenly;
  text-decoration: underline;
  font-style: italic;
  padding: 1.5rem 0;
  width: 100%;
  background-color: white;

  & > a {
    font-size: 1.2rem;
  }
}
