<% unless (controller_name == "baskets" || controller_name == "payments" || controller_name == "orders") %>
  <% if user_signed_in? && @basket.basketItems.count > 0 %>
    <div class="basket-setter">
      <%= link_to basket_path(@basket) do %>
        <div class="basket-link">
          <i class="fas fa-shopping-cart"></i>
          <%= @basket.basketItems.count %>
        </div>
      <% end %>
  </div>
  <% end %>
<% end %>
