<div class="py-3 px-1 cookie-container">
  <p>
    We only use cookies that are essential to the functioning of the website. To find out more, read our
    <%= link_to "privacy policy", privacy_policy_path %>.
  </p>

  <button class="mybutton cookie-btn">
    Okay
  </button>
</div>
