<div class="bfooter">
  <p class="copyright">Copyright 2020 BNI$E</p>
  <%= link_to("https://www.instagram.com/bnicevlways/", target: "_blank") do %>
    <i class="fab fa-instagram" style="font-size: 2rem"></i>
  <% end %>
  <%= render "layouts/flashes" %>
</div>
