<div class="header">
  <div class="bnavbar">
    <% if controller_name == "contacts" %>
      <div>
        <%= image_tag('white_logo_cropped.png', class: "return-logo") %>
      </div>
    <% end %>
    <%= link_to root_path do %>
      <h1 id="brand">B-NI$E</h1>
    <% end %>
    <%= render 'layouts/basket' %>
  </div>
  <%= render 'layouts/links' %>
</div>
