<div class="header">
  <div class="bnavbar">
    <% if request.original_fullpath != "/contacts/new" %>
      <%= link_to root_path do %>
        <h1 id="brand">B-NI$E</h1>
      <% end %>
    <% else %>
      <h1 id="brand" style="letter-spacing: inherit;">HIT ME UP</h1>
    <% end %>
    <%= render 'layouts/basket' %>
  </div>
  <%= render 'layouts/links' %>
</div>
